/* ==========================================================================
   Settings / Colors
   ========================================================================== */

$brand-color: #fff;
$primary-color: #fff;
$secondary-color: #000;

$primary-text-color: #000;
$secondary-text-color: #000;

$primary-gray-color: #eee;
$secondary-gray-color: #ccc;
