/* ==========================================================================
   Settings / Fonts
   ========================================================================== */

$text-font: Helvetica, Arial, sans-serif;
$text-font-size: 1em;
$text-font-weight: normal;

$heading-font-size: 2.5rem;
$heading-font-weight: bold;

$subheading-font-size: 1.75rem;
$subheading-font-weight: bold;
